:root {
  --font-family: consolas;
  --lgrad-col: #00af0969;
  --rgrad-col: #7dc2063a;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --work-header-size: 
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: auto;
  font-family: var(--font-family);
  background: linear-gradient(to right, var(--lgrad-col), var(--rgrad-col));
}

.container {
  height: 100%;
  width: 100%;
  padding: 25px 10px 0px 10px;
}

.calendar {
  height: 100%;
  width: 100%;
  background-color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

  box-shadow: var(--shadow);
}

.calendar-header {
  display: grid;
  align-items: center;
  text-align: center;
  height: 5%;
  width: 100%;
  border-radius: 25px;
  margin-bottom: 0.5%;
  background-color: rgb(222, 255, 196);
  grid-template-columns: repeat(3, auto);
}

.kw-selector {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.calendar-body {
  align-items: center;
  height: 100%;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: bisque;
}

.calendar-body-header {
  display: grid;
  align-items: center;
  text-align: center;
  height: 5%;
  width: 100%;
  border-radius: 25px;
  margin-bottom: 1%;
  background-color: rgb(222, 255, 196);
  /* grid-template-columns: 28% 9% 9% 9% 9% 9% 9% 9% 9%  */
}

#work-header {
  text-align: center;
}

#time-header {
  text-align: center;
}

#days {
  text-align: center;
}